<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AppTest" value="appSettings" />
    <add key="Application.Configuration.Directory" value=".\Config"/>
    <add key="Application.Test.Directory1" value=".\App_Config"/>
    <add key="Application.Test.Directory2" value="E:\Project\Actual\Frame\Frame.Console\Config"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultDB" connectionString="server=121.11.83.234; database=BusinessAudit_FS;user id=sa;password=STtakewin1987;" providerName="System.Data.SqlClient" />
    <add name="AnotherDB" connectionString="server=121.11.83.234; database=BusinessAudit_FS;user id=sa;password=STtakewin1987;" providerName="System.Data.SQLite" />
    <add name="AppTest" connectionString="connectionString" providerName="System.String" />
  </connectionStrings>
  <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <!--<httpModules>
        <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add name="ServiceEngine" type="Frame.Service.Server.HttpModule,Frame"/>
      </httpModules>-->
  </system.web>
  <system.webServer>
    <!--<modules>
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ServiceEngine" type="Frame.Service.Server.HttpModule,Frame"/>
    </modules>-->
    <handlers>
      <add name="default" verb="*" path="*.cs" type="Frame.Service.Server.Core, Frame.Service.Server, Version=4.0.0.0, Culture=neutral, PublicKeyToken=04db02423b9ebbb2"/>
      <add name="service" verb="*" path="*.cs" type="Frame.Service.Server.Core, Frame.Service.Server.CommonServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=04db02423b9ebbb2"/>
    </handlers>
  </system.webServer>
</configuration>
