<?xml version="1.0" encoding="utf-8"?>
<commands>
  <command key="QueryBank">
    <![CDATA[
    SELECT * FROM dbo.Bank
    ]]>
  </command>
  <command key="QueryBankByName">
    <![CDATA[
    SELECT * FROM dbo.Bank WHERE Name=@Name
    ]]>
  </command>
  <command key="QueryBankByName1">
    <![CDATA[
    SELECT * FROM dbo.Bank WHERE Name='$Name?工商银行$'
    ]]>
  </command>
</commands>
