/*
 * FrameUI v2.1.0
 *
 * 折叠列表NesList样式.(29)
 *
 * Copyright 2016 zlx
 *
 */
.frame-neslist
{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    /*max-width: 600px;*/
    list-style: none;
    line-height: 20px;
}

.frame-neslist-list
{
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.frame-neslist-list .frame-neslist-list {
    padding-left: 30px;
}

.frame-neslist-collapsed .frame-neslist-list {
	display: none;
}

.frame-neslist-item {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    line-height: 20px;
    cursor:default;
}


.frame-neslist-item > button {
    display: block;
    position: relative;
    z-index: 1;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 1px 5px 5px;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    top: 4px;
    left: 1px;
    color: #707070;
}

.frame-neslist-item > button::before {
    font-family: FontAwesome;
    content: '\f067';
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0;
    font-weight: normal;
    font-size: 14px;
}

.frame-neslist-item > button.frame-neslist-item-collapse::before {
    content: '\f068';
}

.frame-neslist-item-content
{
    display: block;
    min-height: 38px;
    margin: 2px 0;
    padding: 8px 12px;
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    text-decoration: none;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.frame-neslist-item-content:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.action-buttons a {
	margin: 0 3px;
	display: inline-block;
	opacity: .85;
	-webkit-transition: all .1s;
	transition: all .1s;
}

.action-buttons a:hover {
	text-decoration: none;
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	opacity: 1;
}