/*
 * FrameUI v2.1.0
 *
 * 侧边栏 SideBar 样式.(12)
 *
 * Copyright 2015 zlx
 *
 */
.frame-sidebar {
    width:190px; 
    float:left; 
    position:relative; 
    border:1px solid #ccc; 
    border-width:0 1px 0 0; 
    background-color:#f2f2f2;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
}

.frame-sidebar:before{
	content:"";
	display:block;
	width:190px;
	position:fixed;
	bottom:0;
	top:0;
	z-index:-1;
	background-color:#f2f2f2;
	border:1px solid #ccc;
	border-width:0 1px 0 0;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
}

.frame-sidebar.fixed,.frame-sidebar.sidebar-fixed { position:fixed; z-index:1029; top:45px; left:0; }
.frame-sidebar.fixed:before,.frame-sidebar.sidebar-fixed:before { left:0; right:auto; }

.frame-sidebar-collapse{
	border-bottom:1px solid #e0e0e0;
	background-color:#f3f3f3;
	text-align:center;
	padding:3px 0;
	position:relative;
}

.frame-sidebar-collapse:before {
    content:"";
    display:inline-block;
    height:0;
    border-top:1px solid #e0e0e0;
    position:absolute;
    left:15px;
    right:15px;
    top:13px;
}

.frame-sidebar-collapse > [class*="icon-"] {
	display:inline-block;
	cursor:pointer;
	font-size:14px;
	color:#aaa;
	border:1px solid #bbb;
	padding:0 5px;
	line-height:18px;
	border-radius:16px;
	background-color:#fff;
	position:relative;
	text-align: center;
}

/* SideBar快捷工具栏 */
.frame-sidebar-shortcuts {
    background-color:#fafafa;
	border-bottom:1px solid #ddd;
	text-align:center;
	line-height:39px;
	max-height:42px;
	margin-bottom:0;
}
.frame-sidebar-shortcuts-large{
	padding:3px 0;
	padding:5px 0\9;
}
@media screen and (-webkit-min-device-pixel-ratio:0){ .frame-sidebar-shortcuts-large {padding:5px 0;} } 
.frame-sidebar-shortcuts-large>.frame-button{
	width:41px;
	line-height:24px;
	margin-top:-2px;
	padding:7px 0;
	text-align:center;
	margin:0 2px;
}
.frame-sidebar-shortcuts-large>.frame-button>[class*="icon-"] { margin:0; }

.frame-sidebar-shortcuts-mini{
	display:none;
	font-size:0;
	width:42px;
	line-height:18px;
	padding:4px 0;
	padding:4px 0\9;
	background-color:#fff;
}
/* @-moz-document url-prefix() { .frame-sidebar-shortcuts-mini{padding:4px 0;} }  只兼容火狐 */

.frame-sidebar-shortcuts-mini>.frame-button{
	border-width:0!important;
	font-size:0;
	line-height:0;
	padding:8px!important;
	margin:0 1px;
	border-radius:0!important;
	opacity:.85;
	filter:alpha(opacity=85);
}

/* 折叠后的侧边栏 */
.min-sidebar.frame-sidebar {
    width: 43px;
}
.min-sidebar.frame-sidebar:before {
    width: 43px;
}
.min-sidebar.frame-sidebar+.frameui-container-content{
	margin-left:43px;
}

.min-sidebar.frame-sidebar+.frameui-container-content .frame-breadcrumbs.fixed,
.min-sidebar.frame-sidebar+.frameui-container-content .frame-breadcrumbs.breadcrumbs-fixed{
	left:43px;
}

.min-sidebar .frame-sidebar-collapse:before{
	left:5px;
	right:5px;
}
.min-sidebar .frame-sidebar-collapse>[class*="icon-"]{
	font-size:13px;
	padding:0 4px;
	line-height:15px;
	border-width:1px;
	border-color:#aeaeae;
}

.min-sidebar .frame-sidebar-shortcuts{
	position:relative;
}

.min-sidebar .frame-sidebar-shortcuts-mini{
	display:block
}

.min-sidebar .frame-sidebar-shortcuts-large{
	display:none;
	position:absolute;
	z-index:20;
	top:-1px;
	left:42px;
	width:190px;
	padding:5px 3px;
	background-color:#fff;
	-webkit-box-shadow:1px 1px 1px 0 rgba(0,0,0,0.2);
	box-shadow:1px 1px 1px 0 rgba(0,0,0,0.2);
	border:1px solid #ccc;
}

@-moz-document url-prefix() { .min-sidebar .frame-sidebar-shortcuts-large {padding:3px 3px 2px;} } /* 只兼容火狐 */
@media screen and (-webkit-min-device-pixel-ratio:0){ .min-sidebar .frame-sidebar-shortcuts-large { padding:5px 3px 5px 2px; } } /* 兼容谷歌 */

.min-sidebar .frame-sidebar-shortcuts:hover .frame-sidebar-shortcuts-large{
	display:block;
}
