/*
 * FrameUI v2.1.0
 *
 * 面板Panel 样式.(23)
 *
 * Copyright 2015 zlx
 *
 */
.frame-panel {
    padding:0;	
    -webkit-box-shadow:none;
    box-shadow:none; 
    margin:0; 
}

.frame-panel-header
{
    -webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	position:relative;
	min-height:38px;
	background:#f7f7f7;
	color:#669fc7;
	border:1px solid #CCC;
	border-bottom:0;
	padding-left:12px;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.frame-panel-header:before,.frame-panel-header:after{
	content:"";
	display:table;
	line-height:0;
}

.frame-panel-header:after{
	clear:right;
}

.frame-panel-header>.frame-panel-header-caption,.frame-panel-header>:first-child{
	line-height:38px;
	padding:0;
	margin:0;
	display:inline;
}

.frame-panel-header>.frame-panel-header-caption>[class*="icon-"],.frame-panel-header>:first-child>[class*="icon-"]{
	margin-right:5px;
	font-weight:normal;
	display:inline-block;
}

.frame-panel-toolbar{
    display:inline-block;
	padding:0 10px;
	line-height:38px;
	float:right;
	position:relative;
}

.frame-panel-toolbar:before{
	display:inline-block;
	content:"";
	position:absolute;
	top:3px;
	bottom:3px;
	left:-1px;
	border:1px solid #d9d9d9;
	border-width:0 1px 0 0;
}

.frame-panel-toolbar.no-border:before{
	display:none;
}

.frame-panel-toolbar>a{
	/*font-size:14px;
	margin:0 1px;
	display:inline-block;
	padding:0;
	line-height:24px;*/
	font-size:15px;
	margin:0 3px;
	padding:0;
	cursor:pointer;
}

.frame-panel-toolbar>a:hover,.frame-panel-toolbar>a:focus{
	text-decoration:none;
}

.frame-panel-container{
    border:1px solid #CCC;
	background-color:#FFF
}

.frame-panel-main{ padding:12px; overflow:auto; min-height:200px; }

.frame-panel-toolbox{ background-color:#fff; }
.frame-panel-toolbox:first-child{
	padding:6px;
	border-bottom:1px solid #CCC;
}

.frame-panel-toolbox:last-child{
	padding:0 12px 12px 12px;
}

.frame-panel.no-border .frame-panel-header{
	background-color:#fff;
	border:0;
	border-bottom:1px dotted #CCC;
}

.frame-panel.no-border .frame-panel-container{
    border:0;
    border-top:0px dotted #CCC;
}