/*
 * FrameUI v2.1.0
 *
 * Combobox 下拉菜单样式.(18)
 *
 * Copyright 2015 zlx icon-sort-down
 *
 */
.frame-combobox { display:none; }

.frame-combobox-container {
    margin:0; 
    padding:0; 
    position:relative; 
    display:inline-block; 
    vertical-align: middle; 
    height: 30px;
}

.frame-combobox-inner {
    border:1px solid #cccccc; 
    display: inline-block;
    cursor:default;
}

.frame-combobox-inner input[type="text"].frame-combobox-text,.frame-combobox-inner div.frame-combobox-text {
    border:none; 
    color:#666666; 
    background-color:White; 
    margin:0; 
    padding: 5px 4px; 
    line-height: 1.2; 
    font-size: 14px; 
    font-family: inherit; 
    box-shadow: none !important; 
    transition-duration: 0.1s;
    cursor:default;
}
.frame-combobox-inner div.frame-combobox-text {
    display: inline-block;
    overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.frame-combobox-inner i {
    width: 24px;
    display: inline-block;
    float: right;
    height: 28px;
    padding:5px 4px 4px 6px;
    cursor: default;
}
.frame-combobox-inner i:hover,.frame-combobox-inner:hover i { color:#428bca; }

.frame-combobox-inner.disabled input[disabled],
.frame-combobox-inner.disabled .frame-combobox-text{
    color:#848484;
}
.frame-combobox-inner.disabled input[disabled]:hover,
.frame-combobox-inner.disabled .frame-combobox-text:hover{
    border-color:#d5d5d5;
}
.frame-combobox-inner.disabled i { color:#999; }

.frame-combobox-selection-panel {
    display:none; 
    background-color:White; 
    z-index:9300; 
    position:absolute; 
    border:1px solid #cccccc; 
    margin:0; 
    padding:0; 
    margin-top:1px; 
    overflow:hidden;
    overflow-y:auto; 
    scrollbar-arrow-color:#FFF; 
    scrollbar-face-color:#9CC8F7; 
    scrollbar-3dlight-color:#333; 
    scrollbar-highlight-color:#9CC8F7; 
    scrollbar-shadow-color:#333; 
    scrollbar-darkshadow-color:#fff; 
    scrollbar-track-color:#fff; 
    scrollbar-base-color:#9CC8F7; 
}

.frame-combobox-selection-panel.pull-top{ top:auto; bottom:33px; }

.frame-combobox-menu {
    padding:0;
	margin:1px 0 0;
	font-size:13px;
	list-style:none;
	background-color:#fff;
	border-radius:0px;
	background-clip:padding-box;
	width:100%;
	float:left;
}

/* 列表项分隔线 */
.frame-combobox-menu .divider{ height:1px; margin:3px 0; overflow:hidden; background-color:#e5e5e5;}

.frame-combobox-menu > li > a {
    display:block;
    padding:4px 11px;
    clear:both;
	margin-bottom:0px;
	margin-top:0px;
    font-weight:normal;
    line-height:1.428571429;
    color:#333;
    white-space:nowrap;
}

.frame-combobox-menu > li > a:hover,.frame-combobox-menu > li > a:focus {
	color:#fff;
	text-decoration:none;
	background-color:#428bca;
}

/* 不同颜色 */
.frame-combobox-default li a:hover,.frame-combobox-default li a:focus,.frame-combobox-default li a:active,.frame-combobox-default li.active a,.frame-combobox-default li.active a:hover{
	background:#abbac3;
	color:#fff;
}
.frame-combobox-info li a:hover,.frame-combobox-info li a:focus,.frame-combobox-info li a:active,.frame-combobox-info li.active a,.frame-combobox-info li.active a:hover{
	background:#6fb3e0;
	color:#fff;
}
.frame-combobox-primary li a:hover,.frame-combobox-primary li a:focus,.frame-combobox-primary li a:active,.frame-combobox-primary li.active a,.frame-combobox-primary li.active a:hover{
	background:#428bca;
	color:#fff;
}
.frame-combobox-success li a:hover,.frame-combobox-success li a:focus,.frame-combobox-success li a:active,.frame-combobox-success li.active a,.frame-combobox-success li.active a:hover{
	background:#87b87f;
	color:#fff;
}
.frame-combobox-warning li a:hover,.frame-combobox-warning li a:focus,.frame-combobox-warning li a:active,.frame-combobox-warning li.active a,.frame-combobox-warning li.active a:hover{
	background:#ffa24d;
	color:#fff;
}
.frame-combobox-error li a:hover,.frame-combobox-error li a:focus,.frame-combobox-error li a:active,.frame-combobox-error li.active a,.frame-combobox-error li.active a:hover{
	background:#d15b47;
	color:#fff;
}
.frame-combobox-inverse li a:hover,.frame-combobox-inverse li a:focus,.frame-combobox-inverse li a:active,.frame-combobox-inverse li.active a,.frame-combobox-inverse li.active a:hover{
	background:#555;
	color:#fff;
}