/*
 * FrameUI v2.1.0
 *
 * 下拉菜单样式.(10)
 *
 * Copyright 2015 zlx
 *
 */
.frame-dropdown{ position:relative; display:inline-block; }
.frame-dropdown-toggle:focus{ outline:0; }
.frame-dropdown a { outline:0; }

.frame-dropdown.frame-dropdown-bordered {
  font-size: 13px;
  line-height: 18px;
  vertical-align: middle;
  padding: 0;
  height: 32px;
}
.frame-dropdown.frame-dropdown-bordered .frame-dropdown-inner {
  border: 1px solid #cccccc;
  display: inline-block;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding:4px 6px;
}
.frame-dropdown.frame-dropdown-bordered .frame-dropdown-inner a {
  color: #393939;
  min-width: 82px;
  display: block;
  padding: 2px 14px;
  padding-left: 8px;
  padding-right: 8px;
  overflow:hidden;
}
.frame-dropdown.frame-dropdown-bordered .frame-dropdown-inner .disabled > a { color: #999!important; }
.frame-dropdown.frame-dropdown-bordered .frame-dropdown-inner .icon-angle-down {
  float: right;
  margin-left: 4px;
  line-height: 1.5;
}

.frame-dropdown-menu{
	position:absolute;
	top:100%;
	left:0;
	z-index:1000;
	display:none;
	float:left;
	min-width:160px;
	padding:1px 0;
	margin:1px 0 0;
	font-size:13px;
	list-style:none;
	background-color:#fff;
	border:1px solid #ccc;
	border:1px solid rgba(0,0,0,0.15);
	border-radius:0px;
	-webkit-box-shadow:0 2px 4px rgba(0,0,0,0.2);
	box-shadow:0 2px 4px rgba(0,0,0,0.2);
	background-clip:padding-box;
}

.frame-dropdown-preview { margin:0 5px;display:inline-block; width:auto; position:absolute; z-index:1050; }
.frame-dropdown-preview  > .frame-dropdown-menu{ display: block; position:static; /*margin-bottom: 5px;*/ }
.frame-dropdown.open > .frame-dropdown-inner > .frame-dropdown-menu { display: block; margin-top:3px; }

/* 禁用下拉菜单样式 */
.frame-dropdown.disabled .frame-dropdown-inner a,.frame-dropdown.disabled .frame-dropdown-inner i { color: #aaaaaa; }
.frame-dropdown.disabled.frame-dropdown-bordered a { background-color: #fbfbfb; }

/* 下拉菜单列表面板对齐位置 */
.frame-dropdown-menu.pull-right{ right:auto; left:100%; top:0; }
.frame-dropdown-menu.pull-left{ right:100%; left:auto; top:0; }
.frame-dropdown-menu.pull-top{ top:auto; bottom:0; }
.frame-dropdown-inner > .frame-dropdown-menu.pull-top{ top:auto; bottom:33px; }

/* 列表项分隔线 */
.frame-dropdown-menu .divider{ height:1px; margin:3px 0; overflow:hidden; background-color:#e5e5e5;}

.frame-dropdown-menu > li > a,.frame-dropdown.frame-dropdown-bordered > .frame-dropdown-inner > .frame-dropdown-menu > li > a {
    display:block;
    padding:4px 11px;
    clear:both;
	margin-bottom:1px;
	margin-top:1px;
    font-weight:normal;
    line-height:1.428571429;
    color:#333;
    white-space:nowrap;
}

.frame-dropdown-menu > li > a:hover,.frame-dropdown-menu > li > a:focus,
.frame-dropdown.frame-dropdown-bordered > .frame-dropdown-inner > .frame-dropdown-menu > li > a:hover,
.frame-dropdown.frame-dropdown-bordered > .frame-dropdown-inner > .frame-dropdown-menu > li > a:focus {
	color:#fff;
	text-decoration:none;
	background-color:#428bca;
}

.frame-dropdown-menu > li > a:hover > i ,
.frame-dropdown-menu > li > a:focus > i,
.frame-dropdown-menu > li:hover > a > i,
.frame-dropdown-menu > li:focus > a > i,
.frame-dropdown-menu > .active > a > i,
.frame-dropdown-menu > .active > a:hover > i,
.frame-dropdown-menu > .active > a:focus > i{
	color:#fff!important;
}
.frame-dropdown-menu > .disabled > a > i,.frame-dropdown-menu > .disabled > a:hover > i,.frame-dropdown-menu > .disabled > a:focus > i {
    color:#999!important;
}

/* 可编辑 */
.frame-dropdown.frame-dropdown-bordered > .frame-dropdown-inner > input { border:0; padding:4px 4px 3px 4px; font-size:13px; line-height:1.1; }
.frame-dropdown.frame-dropdown-bordered > .frame-dropdown-inner > input[disabled]{color:#999;background-color:#fff;}
.frame-dropdown-menu > .active > a,
.frame-dropdown-menu > .active > a:hover,
.frame-dropdown-menu > .active > a:focus,
.frame-dropdown.frame-dropdown-bordered > .frame-dropdown-inner > .frame-dropdown-menu > .active > a,
.frame-dropdown.frame-dropdown-bordered > .frame-dropdown-inner > .frame-dropdown-menu > .active > a:hover,
.frame-dropdown.frame-dropdown-bordered > .frame-dropdown-inner > .frame-dropdown-menu > .active > a:focus {
	color:#fff;
	text-decoration:none;
	background-color:#428bca;
	outline:0;
}

.frame-dropdown-menu > .disabled > a,.frame-dropdown-menu > .disabled > a:hover,.frame-dropdown-menu > .disabled > a:focus,
.frame-dropdown.frame-dropdown-bordered > .frame-dropdown-inner > .frame-dropdown-menu > .disabled > a:hover,
.frame-dropdown.frame-dropdown-bordered > .frame-dropdown-inner > .frame-dropdown-menu > .disabled > a:focus {
	color:#999!important;
}

.frame-dropdown-menu > .disabled > a:hover,.frame-dropdown-menu > .disabled > a:focus,
.frame-dropdown.frame-dropdown-bordered > .frame-dropdown-inner > .frame-dropdown-menu > .disabled > a:hover,
.frame-dropdown.frame-dropdown-bordered > .frame-dropdown-inner > .frame-dropdown-menu > .disabled > a:focus {
	text-decoration:none;
	cursor:not-allowed;
	background-color:transparent;
	background-image:none;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

/* 不同颜色 */
.frame-dropdown-default li a:hover,.frame-dropdown-default li a:focus,.frame-dropdown-default li a:active,.frame-dropdown-default li.active a,.frame-dropdown-default li.active a:hover,.frame-dropdown-default .frame-dropdown-submenu:hover>a{
	background:#abbac3;
	color:#fff;
}
.frame-dropdown-info li a:hover,.frame-dropdown-info li a:focus,.frame-dropdown-info li a:active,.frame-dropdown-info li.active a,.frame-dropdown-info li.active a:hover,.frame-dropdown-info .frame-dropdown-submenu:hover>a{
	background:#6fb3e0;
	color:#fff;
}
.frame-dropdown-primary li a:hover,.frame-dropdown-primary li a:focus,.frame-dropdown-primary li a:active,.frame-dropdown-primary li.active a,.frame-dropdown-primary li.active a:hover,.frame-dropdown-primary .frame-dropdown-submenu:hover>a{
	background:#428bca;
	color:#fff;
}
.frame-dropdown-success li a:hover,.frame-dropdown-success li a:focus,.frame-dropdown-success li a:active,.frame-dropdown-success li.active a,.frame-dropdown-success li.active a:hover,.frame-dropdown-success .frame-dropdown-submenu:hover>a{
	background:#87b87f;
	color:#fff;
}
.frame-dropdown-warning li a:hover,.frame-dropdown-warning li a:focus,.frame-dropdown-warning li a:active,.frame-dropdown-warning li.active a,.frame-dropdown-warning li.active a:hover,.frame-dropdown-warning .frame-dropdown-submenu:hover>a{
	background:#ffa24d;
	color:#fff;
}
.frame-dropdown-error li a:hover,.frame-dropdown-error li a:focus,.frame-dropdown-error li a:active,.frame-dropdown-error li.active a,.frame-dropdown-error li.active a:hover,.frame-frame-dropdown-error .frame-dropdown-submenu:hover>a{
	background:#d15b47;
	color:#fff;
}
.frame-dropdown-inverse li a:hover,.frame-dropdown-inverse li a:focus,.frame-dropdown-inverse li a:active,.frame-dropdown-inverse li.active a,.frame-dropdown-inverse li.active a:hover,.frame-dropdown-inverse .frame-dropdown-submenu:hover>a{
	background:#555;
	color:#fff;
}

.frame-dropdown-submenu{ position:relative; }
.frame-dropdown-submenu > .clearfix > i { margin-top:3px;} 
.frame-dropdown-submenu:hover>.frame-dropdown-menu{ display:block; }


