/*
 * FrameUI v2.1.0
 *
 * 消息对话框Messager 样式.(25)
 *
 * Copyright 2015 zlx
 *
 */
.frame-messager-icon { margin: 10px; font-size: 50px; display:inline-block!important; }
.frame-messager-content{ font-size: 14px; vertical-align: middle; display: table-cell;}