/*
 * FrameUI v2.1.0
 *
 * Popover样式.(20)
 *
 * Copyright 2015 zlx
 *
 */
.frame-popover{
	position:absolute;
	top:0;
	left:0;
	z-index:1010;
	display:none;
	max-width:276px;
	padding:0;
	text-align:left;
	white-space:normal;
	background-color:#fff;
	border:1px solid #ccc;
	border:1px solid rgba(0,0,0,0.2);
	border-radius:0;
	background-clip:padding-box;	
	-webkit-box-shadow:0 0 4px 2px rgba(0,0,0,0.2);
	box-shadow:0 0 4px 2px rgba(0,0,0,0.2);
	color:#4d6883;
}

.frame-popover.top{ margin-top:-10px; }
.frame-popover.right{ margin-left:10px; }
.frame-popover.bottom{ margin-top:10px; }
.frame-popover.left{ margin-left:-10px; }

.frame-popover-title{
	padding:8px 14px;
	margin:0;
	font-size:14px;
	font-weight:normal;
	line-height:18px;	
	border-radius:0;
	background-color:#eff3f8;
	color:#555;
	border-bottom:1px solid #dfe3e8;
	text-shadow:1px 1px 1px rgba(220,220,220,0.2);
}

.frame-popover-content{	padding:9px 14px; }

.frame-popover.in { display:block; }

.frame-popover .arrow,.frame-popover .arrow:after{
	position:absolute;
	display:block;
	width:0;
	height:0;
	border-color:transparent;
	border-style:solid;
}

.frame-popover .arrow{ border-width:11px; }

.frame-popover .arrow:after{ border-width:10px;	content:""; }

.frame-popover.top .arrow{
	bottom:-11px;
	left:50%;
	margin-left:-11px;
	border-top-color:#999;
	border-top-color:rgba(0,0,0,0.25);
	border-bottom-width:0;
}

.frame-popover.top .arrow:after{
	bottom:1px;
	margin-left:-10px;
	border-top-color:#fff;
	border-bottom-width:0;
	content:" ";
}

.frame-popover.right .arrow{
	top:50%;
	left:-11px;
	margin-top:-11px;
	border-right-color:#999;
	border-right-color:rgba(0,0,0,0.25);
	border-left-width:0;
}

.frame-popover.right .arrow:after{
	bottom:-10px;
	left:1px;
	border-right-color:#fff;
	border-left-width:0;
	content:" ";
}

.frame-popover.bottom .arrow{
	top:-11px;
	left:50%;
	margin-left:-11px;
	border-bottom-color:#999;
	border-bottom-color:rgba(0,0,0,0.25);
	border-top-width:0;
}

.frame-popover.bottom .arrow:after{
	top:1px;
	margin-left:-10px;
	border-bottom-color:#eff3f8;
	border-top-width:0;
	content:" ";
}

.frame-popover.left .arrow{
	top:50%;
	right:-11px;
	margin-top:-11px;
	border-left-color:#999;
	border-left-color:rgba(0,0,0,0.25);
	border-right-width:0;
}

.frame-popover.left .arrow:after{
	right:1px;
	bottom:-10px;
	border-left-color:#fff;
	border-right-width:0;
	content:" ";
}

/* 不同样式 */
.frame-popover.frame-popover-error{	color:#555;	border:1px solid #f7f0ef; }
.frame-popover.frame-popover-error .frame-popover-title{
	background-color:#f7f0ef;
	border-bottom-color:#e8e0df;
	color:#b75445;
	text-shadow:none;
}

.frame-popover.frame-popover-warning{ color:#555; border:1px solid #f4eee3; }
.frame-popover.frame-popover-warning .frame-popover-title{
	background-color:#f4eee3;
	border-bottom-color:#e4dcd3;
	color:#d67e31;
	text-shadow:none;
}

.frame-popover.frame-popover-success{ color:#555; border:1px solid #e8f2e3; }
.frame-popover.frame-popover-success .frame-popover-title{
	background-color:#e8f2e3;
	border-bottom-color:#d8e2d3;
	color:#629b58;
	text-shadow:none;
}

.frame-popover.frame-popover-info{ color:#555; border:1px solid #e5edf8; }
.frame-popover.frame-popover-info .frame-popover-title{
	background-color:#e5edf8;
	border-bottom-color:#d5dde8;
	color:#3f79b6;
	text-shadow:none;
}

.frame-popover.frame-popover-notitle .frame-popover-title{ display:none; }
.frame-popover.frame-popover-notitle.top .arrow:after{ border-top-color:#FFF; }
.frame-popover.frame-popover-notitle.bottom .arrow:after{ border-bottom-color:#FFF; }
.frame-popover.frame-popover-notitle.left .arrow:after{	border-left-color:#FFF; }
.frame-popover.frame-popover-notitle.right .arrow:after{ border-left-color:#FFF; }

