/*
 * FrameUI v2.1.0
 *
 * Tabs样式.(16)
 *
 * Copyright 2015 zlx
 *
 */
.frame-tabs { overflow:hidden; }
.frame-tabs:before,.frame-tabs:after{ display:table; content:" "; }
.frame-tabs:after{ clear:both; }

.frame-tabs-nav-wrap{ position:relative; z-index:1000; }
.frame-tabs-nav-wrap:after { clear:both; display:block; content:"\20"; font-size:0; height:0; line-height:0; visibility:hidden; }

.frame-tabs-nav-container { position:relative; top:1px; width:100%; }
.frame-tabs-nav-wrap i.icon-angle-left,.frame-tabs-nav-wrap i.icon-angle-right {
    width:5px; 
    margin:10px 4px 0 4px;
    cursor:default;
}
.frame-tabs-nav-wrap i.icon-angle-left:hover,.frame-tabs-nav-wrap i.icon-angle-right:hover {
    color:#4c8fbd;
}
.frame-tabs-nav-wrap i.icon-angle-left,.frame-tabs-nav-wrap i.icon-angle-right,.frame-tabs-nav-container {
    float:left; 
    overflow:hidden; 
}

/* 标签页列表 */
.frame-tabs-nav {
    list-style: outside none none; 
    padding-left: 0px; 
    border-color: #C5D0DC; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    position:relative; 
    border-bottom: 1px solid #C5D0DC;
    z-index:12;
    width:9999px;
    left: 0;
}
.frame-tabs-nav:before, .frame-tabs-nav:after { display: table; content: " "; }


.frame-tabs-nav>li{
	margin-bottom:-1px;
	margin-left: 3px;
	position: relative;
    display:inline-block;
    top:0px;
}
.frame-tabs-nav>li.active { top:1px; }
.frame-tabs-nav>li:first-child { margin-left:0px;}

.frame-tabs-nav>li>a {
    position:relative;
    cursor:default;
	display:block;
	padding: 8px 12px;
	margin-right:2px;
	line-height:1.428571429;
	border:1px solid transparent;
	border-radius:4px 4px 0 0;
}

.frame-tabs-nav>li>a:hover{
	background-color:#FFF;
	color:#4c8fbd;
	border-color:#c5d0dc;
	text-decoration:none;
}

.frame-tabs-nav>li.active>a, .frame-tabs-nav>li.active> a:hover, .frame-tabs-nav>li.active>a:focus {
    cursor: default;
    border-width: 1px;
    border-style: solid;  
    color:#576373;
	border-color:#c5d0dc;
	border-top:2px solid #4c8fbd;
	border-bottom-color:transparent;
	background-color:#FFF;
	z-index:12;
	margin-top:-1px;
	box-shadow:0 -2px 3px 0 rgba(0,0,0,0.15);
}

.frame-tabs-nav>li>a,.frame-tabs-nav>li>a:focus{
	border-radius:0!important;
	background-color:#f9f9f9;
	color:#999;
	margin-right:-1px;
	position:relative;
	z-index:11;
	border-color:#c5d0dc;
}

.frame-tabs-nav>li>a:focus{text-decoration:none;outline:none!important;}

.frame-tabs-nav>li>a:active{outline:none!important;}

.frame-tabs-nav>li:first-child>a {margin-left:0px;}

/*
.frame-tabs-nav>li.active~li{ background:#f00; top:0!important; top:0\9; } /* 兼容火狐和IE 
@media screen and (-webkit-min-device-pixel-ratio:0){ .frame-tabs-nav>li.active~li { top:0; } } /* 兼容谷歌 */


.frame-tabs-nav>li.disabled>a{
	color:#999;
}

.frame-tabs-nav>li.disabled>a:hover,.frame-tabs-nav>li.disabled>a:focus{
	color:#999;
	text-decoration:none;
	cursor:not-allowed;
	background-color:#f9f9f9;
}

.frame-tabs-nav li [class*="icon-"], .frame-tabs-nav li [class^="icon-"] {
    width: 1.25em;
    display: inline-block;
    text-align: center;
}
.frame-tabs-nav > li.active > a > .badge, .frame-tabs-nav > li.active > a > [class*="icon-"] {
    opacity: 1;
}



/* 关闭按钮 */
.frame-tabs-nav > li > a i.with-x {
    cursor: pointer;
    font: normal 14px tahoma;
    display: inline-block;
    height: 100%;
    line-height:0.9em;
    color:#999;
    position:absolute;
    top:0px;
}
.frame-tabs-nav > li > a i.with-x:hover{ color:Red;}

.frame-tabs-content {
    /*padding: 16px 12px;*/
    padding:0;
    position: relative;
    z-index: 11;
    border: 1px solid #C5D0DC;
    overflow: auto;
    overflow-x:hidden;
}
.frame-tabs-content.plain {
    border-bottom-color: transparent; 
    border-left-color:transparent;
    border-right-color: transparent;
}
.frame-tabs-content>.tab-panel{ display:none; }
.frame-tabs-content>.tab-panel>iframe { width:100%; height:100%; border:0; margin:0; padding:0;}
.frame-tabs-content>.active{ display:block; }