/*
 * FrameUI v2.1.0
 *
 * BreadCrumbs样式.(26)
 *
 * Copyright 2015 zlx
 *
 */
.frame-breadcrumbs{
	position:relative;
	border-bottom:1px solid #e5e5e5;
	background-color:#f5f5f5;
	min-height:41px;
	line-height:40px;
	padding:0 12px 0 0;
	display:block;
}

.frame-breadcrumbs.fixed,.frame-breadcrumbs.breadcrumbs-fixed{
	position:fixed;
	right:0;
	left:190px;
	top:45px;
	z-index:1028;
}

.frame-breadcrumb{
	background-color:transparent;
	display:inline-block;
	margin:0 22px 0 12px;
	padding:0;
	font-size:13px;
	color:#333;
	border-radius:0;
	list-style: outside none none;
}

.frame-breadcrumb > li {
    display: inline-block;
}

.frame-breadcrumb>li,.frame-breadcrumb>li.active{
	color:#555;
}

.frame-breadcrumb>li>a{
	display:inline-block;
	padding:0 4px;
	color:#4c8fbd;
}
.frame-breadcrumb>li>a:focus{ outline:0;}
.frame-breadcrumb>li.active>a{
    color:#555;
}

.frame-breadcrumb>li+li:before{
	font-family:FontAwesome;
	font-size:14px;
	content:"\f105";
	color:#b2b6bf;
	margin-right:2px;
	padding:0 5px 0 2px;
	position:relative;
	top:1px;
}

.frame-breadcrumb .home-icon{
	margin-left:4px;
	margin-right:2px;
	font-size:20px;
	position:relative;
	top:2px;
}

.frame-breadcrumb-toolbar {
    position: absolute;
    top: 4px;
    top:5px\9;
    right: 2px;
    line-height: 24px;
}
@media screen and (-webkit-min-device-pixel-ratio:0){ .frame-breadcrumb-toolbar { top: 6px; } }
.frame-breadcrumb-toolbar .frame-button{
    padding: 6px 12px!important;
}

.frame-breadcrumb-toolbar .frame-textbox{
    border-radius: 4px !important;
}