/*
 * FrameUI v2.1.0
 *
 * 文本框样式.(7)
 *
 * Copyright 2015 zlx
 *
 */
textarea,input[type="text"],input[type="password"],.frame-textbox{
	border-radius:0;
	color:#858585;
	background-color:#fff;
	border:1px solid #d5d5d5;
	padding:5px 4px;
	line-height:1.2;
	font-size:14px;
	font-family:inherit;
	-webkit-box-shadow:none;
	box-shadow:none;
	-webkit-transition-duration:0.1s;
	transition-duration:0.1s;
	margin:0;
}
textarea{ overflow:auto; height: auto;}

textarea:hover,input[type="text"]:hover,input[type="password"]:hover,.frame-textbox:hover{ border-color:#b5b5b5; }

textarea:focus,input[type="text"]:focus,input[type="password"]:focus,.frame-textbox:focus{
	-webkit-box-shadow:none;
	box-shadow:none;
	color:#696969;
	border-color:#f59942;
	background-color:#fff;
	outline:0;
}

/* 尺寸自动变化 */
textarea.autosize-transition{
	-webkit-transition-duration:"height 0.2s";
	transition-duration:"height 0.2s";
	overflow: hidden;
    word-wrap: break-word;
    resize: horizontal;	
}

input[disabled]{color:#848484;background-color:#eee;}
input[disabled]:hover{border-color:#d5d5d5;}
input[readonly]{color:#939192;background:#f5f5f5;cursor:default;}
input[readonly]:hover{border-color:#c3c3c3;}
input[readonly]:focus{-webkit-box-shadow:none;box-shadow:none;border-color:#aaa;background-color:#f9f9f9;}

/* 带图标 */
.input-icon{position:relative;display:inline-block;}
.input-icon>input{padding-left:24px;padding-right:6px;}
.input-icon.input-icon-right>input{padding-left:6px;padding-right:24px;}
.input-icon>[class*="icon-"]{
	padding:0 3px;
	z-index:2;
	position:absolute;
	top:1px;
	bottom:1px;
	left:5px;
	line-height:28px;
	display:inline-block;
	color:#909090;
	font-size:16px;
}
.input-icon.input-icon-right>[class*="icon-"]{left:auto;right:5px;}
.input-icon>input:focus+[class*="icon-"]{color:#579;}

/* 预置尺寸 */
.input-mini{width:60px;max-width:100%;padding:3px 4px!important;font-size:11px!important;}
.input-small{width:90px;max-width:100%;padding:4px!important;font-size:12px!important;}
.input-medium{width:150px;max-width:100%;}
.input-large{width:210px;max-width:100%;font-size:16px!important;}
.input-xlarge{width:270px;max-width:100%;font-size:18px!important;}
.input-xxlarge{width:530px;max-width:100%;font-size:20px!important;}

.input-icon.input-mini>[class*="icon-"]{ line-height:28px!important; font-size:11px!important;}
.input-icon>input.input-mini{padding-left:15px!important;padding-right:4px!important;}
.input-icon.input-icon-right>input.input-mini{padding-left:4px!important;padding-right:15px!important;}

.input-icon.input-small>[class*="icon-"]{ line-height:32px!important; line-height:30px\9!important; }
.input-icon>input.input-small{padding-left:20px!important;padding-right:4px!important;}
.input-icon.input-icon-right>input.input-small{padding-left:4px!important;padding-right:20px!important;}

.input-icon.input-large>[class*="icon-"]{ line-height:32px!important; }
.input-icon.input-xlarge>[class*="icon-"]{ line-height:32px!important; line-height:34px\9!important; }
@media screen and (-webkit-min-device-pixel-ratio:0){ .input-icon.input-xlarge>[class*="icon-"] { line-height:34px!important; } }
.input-icon.input-xxlarge>[class*="icon-"]{ line-height:37px!important; line-height:35px\9!important; }