/*
 * FrameUI v2.1.0
 *
 * 按钮样式.(3)
 *
 * Copyright 2015 zlx
 *
 */
.frame-button {
    display:inline-block;
	padding:6px 12px;
	color:#FFF!important;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25)!important;
	background-image:none!important;
	border-radius:0;
	box-shadow:none!important;
	transition:all ease .15s;
	cursor:pointer;
	vertical-align:middle;
	margin:0;
	position:relative;	
	font-size:14px;
	font-weight:normal;
	line-height:1.428571429;
	text-align:center;
	white-space:nowrap;
	border:1px solid transparent;
	-webkit-transition:all ease .15s;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	overflow:visible;
}

.frame-button-normal,.frame-button-small { padding:5px 10px; font-size:14px; line-height:1.5; }
.frame-button-small { padding:1px 5px; font-size:12px; }
.frame-button-smaller { padding:1px 4px; font-size:11px; line-height:1.1; }
.frame-button-large { padding:10px 16px; font-size:18px; line-height:1.33; }
.frame-button-block {display:block;	width:100%;	padding-right:0; padding-left:0; }
button.frame-button:active{ top:1px; left:1px; }

.frame-button,.frame-button:focus,.open .dropdown-toggle.frame-button{ outline:0; background-color:#abbac3!important;border-color:#abbac3; }
.frame-button:hover{ background-color:#8b9aa3!important; border-color:#abbac3; }
.frame-button.no-hover:hover { background-color:#abbac3!important; }

.frame-button-default,.frame-button-default:focus,.open .dropdown-toggle.frame-button-default{ text-shadow:none!important; color:#333!important; background-color:#fff!important; border-color:#ccc; }
.frame-button-default:hover{ color:#333!important; background-color:#ebebeb!important; border-color:#adadad; }
.frame-button-default.no-hover:hover { background-color:#fff!important; }

.frame-button.active,.frame-button-default.active{ background-color:#9baab3!important; border-color:#8799a4; color:#efe5b5; }
.frame-button.active:after,.frame-button-default.active:after {
    display:inline-block;
	content:"";
	position:absolute;
	border-bottom:1px solid #efe5b5;
	left:-4px;
	right:-4px;
	bottom:-4px;
}

.frame-button.disabled.active,.frame-button[disabled].active,.frame-button.disabled:focus,.frame-button[disabled]:focus,.frame-button.disabled:active,.frame-button[disabled]:active{
	outline:0;
}
.frame-button.disabled,.frame-button[disabled],fieldset[disabled] .frame-button{
	pointer-events:none;
	cursor:not-allowed;
	opacity:.65;
	filter:alpha(opacity=65);
	-webkit-box-shadow:none;
	box-shadow:none;
}
.frame-button.disabled:active,.frame-button[disabled]:active,fieldset[disabled] .frame-button:active{ top:0px; left:0px; }
.frame-button.disabled,.frame-button-default.disabled,.frame-button[disabled],.frame-button-default[disabled],fieldset[disabled] .frame-button,fieldset[disabled] .frame-button-default,.frame-button.disabled:hover,.frame-button-default.disabled:hover,.frame-button[disabled]:hover,.frame-button-default[disabled]:hover,fieldset[disabled] .frame-button:hover,fieldset[disabled] .frame-button-default:hover,.frame-button.disabled:focus,.frame-button-default.disabled:focus,.frame-button[disabled]:focus,.frame-button-default[disabled]:focus,fieldset[disabled] .frame-button:focus,fieldset[disabled] .frame-button-default:focus,.frame-button.disabled:active,.frame-button-default.disabled:active,.frame-button[disabled]:active,.frame-button-default[disabled]:active,fieldset[disabled] .frame-button:active,fieldset[disabled] .frame-button-default:active,.frame-button.disabled.active,.frame-button-default.disabled.active,.frame-button[disabled].active,.frame-button-default[disabled].active,fieldset[disabled] .frame-button.active,fieldset[disabled] .frame-button-default.active{
	background-color:#abbac3!important;	
	border-color:#abbac3;
}

/* 预置按钮样式 */
.frame-button-transparent,.frame-button-transparent:focus,.open .dropdown-toggle.frame-button-transparent{ background-color:transparent!important; border-color:transparent; color:#428bca!important; }
.frame-button-transparent:hover{ background-color:transparent!important; border-color:transparent; color:#1b6aaa!important; }
.frame-button-transparent.no-hover:hover { color:#428bca!important; }
.frame-button-transparent.active{ background-color:transparent!important; border-color:transparent; color:#2f7bba!important; }
.frame-button-transparent.disabled,.frame-button-transparent[disabled],fieldset[disabled] .frame-button-transparent,.frame-button-transparent.disabled:hover,.frame-button-transparent[disabled]:hover,fieldset[disabled] .frame-button-transparent:hover,.frame-button-transparent.disabled:focus,.frame-button-transparent[disabled]:focus,fieldset[disabled] .frame-button-transparent:focus,.frame-button-transparent.disabled:active,.frame-button-transparent[disabled]:active,fieldset[disabled] .frame-button-transparent:active,.frame-button-transparent.disabled.active,.frame-button-transparent[disabled].active,fieldset[disabled] .frame-button-transparent.active{
	background-color:transparent!important;
	border-color:transparent;
	color:#428bca!important;
}

.frame-button-primary,.frame-button-primary:focus,.open .dropdown-toggle.frame-button-primary{ background-color:#428bca!important; border-color:#428bca; }
.frame-button-primary:hover{ background-color:#1b6aaa!important; border-color:#428bca; }
.frame-button-primary.no-hover:hover { background-color:#428bca!important; }
.frame-button-primary.active{ background-color:#2f7bba!important; border-color:#27689d; }
.frame-button-primary.disabled,.frame-button-primary[disabled],fieldset[disabled] .frame-button-primary,.frame-button-primary.disabled:hover,.frame-button-primary[disabled]:hover,fieldset[disabled] .frame-button-primary:hover,.frame-button-primary.disabled:focus,.frame-button-primary[disabled]:focus,fieldset[disabled] .frame-button-primary:focus,.frame-button-primary.disabled:active,.frame-button-primary[disabled]:active,fieldset[disabled] .frame-button-primary:active,.frame-button-primary.disabled.active,.frame-button-primary[disabled].active,fieldset[disabled] .frame-button-primary.active{
	background-color:#428bca!important;
	border-color:#428bca;
}

.frame-button-info,.frame-button-info:focus,.open .dropdown-toggle.frame-button-info{ background-color:#6fb3e0!important; border-color:#6fb3e0; }
.frame-button-info:hover{ background-color:#4f99c6!important; border-color:#6fb3e0; }
.frame-button-info.no-hover:hover { background-color:#6fb3e0!important; }
.frame-button-info.active{ background-color:#5fa6d3!important; border-color:#4396cb; }
.frame-button-info.disabled,.frame-button-info[disabled],fieldset[disabled] .frame-button-info,.frame-button-info.disabled:hover,.frame-button-info[disabled]:hover,fieldset[disabled] .frame-button-info:hover,.frame-button-info.disabled:focus,.frame-button-info[disabled]:focus,fieldset[disabled] .frame-button-info:focus,.frame-button-info.disabled:active,.frame-button-info[disabled]:active,fieldset[disabled] .frame-button-info:active,.frame-button-info.disabled.active,.frame-button-info[disabled].active,fieldset[disabled] .frame-button-info.active{
	background-color:#6fb3e0!important;
	border-color:#6fb3e0;
}

.frame-button-success,.frame-button-success:focus,.open .dropdown-toggle.frame-button-success{ background-color:#87b87f!important; border-color:#87b87f; }
.frame-button-success:hover{ background-color:#629b58!important; border-color:#87b87f; }
.frame-button-success.no-hover:hover { background-color:#87b87f!important; }
.frame-button-success.active{ background-color:#75aa6c!important; border-color:#629959; }
.frame-button-success.disabled,.frame-button-success[disabled],fieldset[disabled] .frame-button-success,.frame-button-success.disabled:hover,.frame-button-success[disabled]:hover,fieldset[disabled] .frame-button-success:hover,.frame-button-success.disabled:focus,.frame-button-success[disabled]:focus,fieldset[disabled] .frame-button-success:focus,.frame-button-success.disabled:active,.frame-button-success[disabled]:active,fieldset[disabled] .frame-button-success:active,.frame-button-success.disabled.active,.frame-button-success[disabled].active,fieldset[disabled] .frame-button-success.active{
	background-color:#87b87f!important;
	border-color:#87b87f;
}

.frame-button-warning,.frame-button-warning:focus,.open .dropdown-toggle.frame-button-warning{ background-color:#ffb752!important; border-color:#ffb752; }
.frame-button-warning:hover{ background-color:#e59729!important; border-color:#ffb752; }
.frame-button-warning.no-hover:hover { background-color:#ffb752!important; }
.frame-button-warning.active{ background-color:#f2a73e!important; border-color:#f0981c; }
.frame-button-warning.disabled,.frame-button-warning[disabled],fieldset[disabled] .frame-button-warning,.frame-button-warning.disabled:hover,.frame-button-warning[disabled]:hover,fieldset[disabled] .frame-button-warning:hover,.frame-button-warning.disabled:focus,.frame-button-warning[disabled]:focus,fieldset[disabled] .frame-button-warning:focus,.frame-button-warning.disabled:active,.frame-button-warning[disabled]:active,fieldset[disabled] .frame-button-warning:active,.frame-button-warning.disabled.active,.frame-button-warning[disabled].active,fieldset[disabled] .frame-button-warning.active{
	background-color:#ffb752!important;
	border-color:#ffb752;
}

.frame-button-error,.frame-button-error:focus,.open .dropdown-toggle.frame-button-error{ background-color:#d15b47!important; border-color:#d15b47; }
.frame-button-error:hover{ background-color:#b74635!important; border-color:#d15b47; }
.frame-button-error.no-hover:hover { background-color:#d15b47!important; }
.frame-button-error.active{ background-color:#c4513e!important; border-color:#aa4434; }
.frame-button-error.disabled,.frame-button-error[disabled],fieldset[disabled] .frame-button-error,.frame-button-error.disabled:hover,.frame-button-error[disabled]:hover,fieldset[disabled] .frame-button-error:hover,.frame-button-error.disabled:focus,.frame-button-error[disabled]:focus,fieldset[disabled] .frame-button-error:focus,.frame-button-error.disabled:active,.frame-button-error[disabled]:active,fieldset[disabled] .frame-button-error:active,.frame-button-error.disabled.active,.frame-button-error[disabled].active,fieldset[disabled] .frame-button-error.active{
	background-color:#d15b47!important;
	border-color:#d15b47
}

.frame-button-inverse,.frame-button-inverse:focus,.open .dropdown-toggle.frame-button-inverse{ background-color:#555!important; border-color:#555; }
.frame-button-inverse:hover{ background-color:#303030!important; border-color:#555; }
.frame-button-inverse.no-hover:hover { background-color:#555!important; }
.frame-button-inverse.active{ background-color:#434343!important; border-color:#313131; }
.frame-button-inverse.disabled,.frame-button-inverse[disabled],fieldset[disabled] .frame-button-inverse,.frame-button-inverse.disabled:hover,.frame-button-inverse[disabled]:hover,fieldset[disabled] .frame-button-inverse:hover,.frame-button-inverse.disabled:focus,.frame-button-inverse[disabled]:focus,fieldset[disabled] .frame-button-inverse:focus,.frame-button-inverse.disabled:active,.frame-button-inverse[disabled]:active,fieldset[disabled] .frame-button-inverse:active,.frame-button-inverse.disabled.active,.frame-button-inverse[disabled].active,fieldset[disabled] .frame-button-inverse.active{
	background-color:#555!important;
	border-color:#555;
}

.frame-button>[class*="icon-"]{	display:inline;	margin-right:4px; }
.frame-button>[class*="icon-"].icon-on-right{ margin-right:0; margin-left:4px; }

.frame-button>.icon-only[class*="icon-"]{
	margin:0;
	vertical-align:middle;
	text-align:center;
	padding:0;
}
.frame-button-large>[class*="icon-"]{ margin-right:6px; }
.frame-button-large>[class*="icon-"].icon-on-right{ margin-right:0; margin-left:6px; }
.frame-button-normal>[class*="icon-"]{ margin-right:3px; }
.frame-button-normal>[class*="icon-"].icon-on-right{ margin-right:0; margin-left:3px; }
.frame-button-small>[class*="icon-"]{ margin-right:2px;}
.frame-button-small>[class*="icon-"].icon-on-right{margin-right:0; margin-left:2px; }

.frame-button.frame-button-app{
	display:inline-block;
	width:100px;
	font-size:18px;
	font-weight:normal;
	color:#FFF;
	text-align:center;
	text-shadow:0 -1px -1px rgba(0,0,0,0.2)!important;
	border:0;
	border-radius:6px;
	padding:12px 0 8px;
	margin:2px;
	line-height:1.7;
	position:relative;
}
.frame-button-app,.frame-button-app.frame-button-default,.frame-button-app.disabled:hover,.frame-button-app.frame-button-default.disabled:hover{
	background-position: 0% 0%;
    background-repeat: repeat-x !important;
    background-image: linear-gradient(to bottom,#bcc9d5 0,#abbac3 100%)!important !important;
    background-color: #b4c2cc !important;
    background-attachment: scroll !important;
}
.frame-button-app:hover,.frame-button-app.frame-button-default:hover{
	background-position: 0% 0%;
    background-repeat: repeat-x !important;
    background-image: linear-gradient(to bottom,#a3b5c5 0,#93a6b2 100%)!important !important;
    background-color: #9baebc !important;
    background-attachment: scroll !important;
}

.frame-button-app.frame-button-primary,.frame-button-app.frame-button-primary.disabled:hover{
	background-position: 0% 0%;
    background-repeat: repeat-x !important;
    background-image: linear-gradient(to bottom,#3b98d6 0,#197ec1 100%)!important !important;
    background-color: #2a8bcc !important;
    background-attachment: scroll !important;
}
.frame-button-app.frame-button-primary:hover{
	background-position: 0% 0%;
    background-repeat: repeat-x !important;
    background-image: linear-gradient(to bottom,#267eb8 0,#136194 100%)!important !important;
    background-color: #1d6fa6 !important;
    background-attachment: scroll !important;
}

.frame-button-app.frame-button-info,.frame-button-app.frame-button-info.disabled:hover{
	background-position: 0% 0%;
    background-repeat: repeat-x !important;
    background-image: linear-gradient(to bottom,#75b5e6 0,#5ba4d5 100%)!important !important;
    background-color: #68adde !important;
    background-attachment: scroll !important;
}
.frame-button-app.frame-button-info:hover{
	background-position: 0% 0%;
    background-repeat: repeat-x !important;
    background-image: linear-gradient(to bottom,#4a9ede 0,#348dc9 100%)!important !important;
    background-color: #3f96d4 !important;
    background-attachment: scroll !important;
}

.frame-button-app.frame-button-success,.frame-button-app.frame-button-success.disabled:hover{
	background-position: 0% 0%;
    background-repeat: repeat-x !important;
    background-image: linear-gradient(to bottom,#8ebf60 0,#7daa50 100%)!important !important;
    background-color: #86b558 !important;
    background-attachment: scroll !important;
}
.frame-button-app.frame-button-success:hover{
	background-position: 0% 0%;
    background-repeat: repeat-x !important;
    background-image: linear-gradient(to bottom,#74a844 0,#648740 100%)!important !important;
    background-color: #6c9842 !important;
    background-attachment: scroll !important;
}

.frame-button-app.frame-button-error,.frame-button-app.frame-button-error.disabled:hover{
	background-position: 0% 0%;
    background-repeat: repeat-x !important;
    background-image: linear-gradient(to bottom,#d55b52 0,#d12723 100%)!important !important;
    background-color: #d3413b !important;
    background-attachment: scroll !important;
}
.frame-button-app.frame-button-error:hover{
	background-position: 0% 0%;
    background-repeat: repeat-x !important;
    background-image: linear-gradient(to bottom,#c43a30 0,#a51f1c 100%)!important !important;
    background-color: #b52c26 !important;
    background-attachment: scroll !important;
}

.frame-button-app.frame-button-warning,.frame-button-app.frame-button-warning.disabled:hover{
	background-position: 0% 0%;
    background-repeat: repeat-x !important;
    background-image: linear-gradient(to bottom,#ffbf66 0,#ffa830 100%)!important !important;
    background-color: #ffb44b !important;
    background-attachment: scroll !important;
}
.frame-button-app.frame-button-warning:hover{
	background-position: 0% 0%;
    background-repeat: repeat-x !important;
    background-image: linear-gradient(to bottom,#fa3 0,#fc9200 100%)!important !important;
    background-color: #fe9e19 !important;
    background-attachment: scroll !important;
}

.frame-button-app.frame-button-inverse,.frame-button-app.frame-button-inverse.disabled:hover{
	background-position: 0% 0%;
    background-repeat: repeat-x !important;
    background-image: linear-gradient(to bottom,#555 0,#333 100%)!important !important;
    background-color: #444 !important;
    background-attachment: scroll !important;
}
.frame-button-app.frame-button-inverse:hover{
	background-position: 0% 0%;
    background-repeat: repeat-x !important;
    background-image: linear-gradient(to bottom,#3b3b3b 0,#1a1a1a 100%)!important !important;
    background-color: #2b2b2b !important;
    background-attachment: scroll !important;
}

.frame-button.frame-button-app.frame-button-normal{width:80px;font-size:16px;border-radius:5px;line-height:1.5;}
.frame-button.frame-button-app.frame-button-normal>[class*=icon]{display:block;font-size:32px;line-height:30px;margin:0 0 3px;}
.frame-button.frame-button-app.frame-button-small{width:64px;font-size:15px;border-radius:4px;padding-bottom:7px;padding-top:8px;line-height:1.45;}
.frame-button.frame-button-app.frame-button-small>[class*=icon]{display:block;font-size:24px;line-height:24px;margin:0;}

.frame-button.frame-button-app>[class*=icon]{
	display:block;
	font-size:42px;
	margin:0 0 4px;
	line-height:36px;
	min-width:0;
	padding:0;
}

.frame-button.frame-button-app>.frame-badge,.frame-button.frame-button-app>.frame-label{
	position:absolute!important;
	top:-2px;
	right:-2px;
    padding:.2em .6em .3em; 
    line-height:1.25;
	text-align:center;
	font-size:12px;
}
.frame-button.frame-button-app>.frame-badge.badge-left,.frame-button.frame-button-app>.frame-label.label-left{
	right:auto;
	left:-2px;
}

.frame-button.frame-button-app.active{
	color:#fff;
}

.frame-button.frame-button-app.active:after{
	display:none;
}

/* 带下拉菜单的按钮 */
.frame-button-group{ position:relative; display:inline-block; vertical-align:middle; }
.frame-button-group>.frame-button{ position:relative; float:left; }
.frame-button-group .dropdown-toggle:active, .frame-button-group.open .dropdown-toggle { outline: 0px none; }
.frame-button-group.open > .frame-dropdown-menu { display: block; }


/* 按钮组 */
.frame-button-groups {
  position: relative;
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  font-size: 0;
  vertical-align: middle;
  white-space: nowrap;
  *margin-left: .3em;
}
.frame-button-groups .frame-button{
   color:#333!important; 
   background-color:#fff!important; 
   border-top:1px solid #ccc;
   border-left:0;
   border-bottom:1px solid #ccc;
   border-right:1px solid #ccc;
}
.frame-button-groups button.frame-button:hover { background-color:#f9f9f9!important; }
.frame-button-groups button.frame-button:active{ top:0px; left:0px; }
.frame-button-groups .frame-button:focus{
   border-top:1px solid #ccc;
   border-left:0;
   border-bottom:1px solid #ccc;
   border-right:1px solid #ccc;
}
.frame-button-groups button.frame-button:first-child {
  *margin-left: 0;
  border-left:1px solid #ccc;
}