/*
 * FrameUI v2.1.0
 *
 * 导航Navigation 样式.(17)
 *
 * Copyright 2015 zlx
 *
 */
.frame-navigation { padding:0;	margin:0; list-style:none; }
.frame-navigation:before,.frame-navigation:after{ display:table; content:" "; }
.frame-navigation:after{ clear:both; }

.frame-navigation>li {
    position:relative;
    display:block;
    padding:0;
    margin:0;
    border:0;
    border-top:1px solid #fcfcfc;
    border-bottom:1px solid #e5e5e5;
    cursor:default;
}
.frame-navigation>li:first-child{ border-top:0; }
.frame-navigation li>a:focus{ outline:0; }

.frame-navigation [class^="icon-"], .frame-navigation [class*=" icon-"] {
    line-height: inherit;
}

.frame-navigation>li>a {
    position:relative;
    display:block;
    margin:0;
    height:38px;
    line-height:36px;
    padding:0 16px 0 7px;
    background-color:#f9f9f9;
    color:#585858;
    text-shadow:none!important;
    font-size:13px;
    text-decoration:none; 
}
.frame-navigation>li>a>[class*="icon-"]:first-child{
	display:inline-block;
	vertical-align:middle;
	min-width:30px;
	text-align:center;
	font-size:18px;
	font-weight:normal;
	margin-right:2px;
}

.frame-navigation>li>a:hover,.frame-navigation>li>a:focus{ text-decoration:none; color:#1963aa; }
.frame-navigation>li>a:focus{ background-color:#f9f9f9; }
.frame-navigation>li>a:hover{ background-color:#FFF; }
.frame-navigation>li>a:hover:before{
	display:block;
	content:"";
	position:absolute;
	top:-1px;
	bottom:0;
	left:0;
	width:3px;
	max-width:3px;
	overflow:hidden;
	background-color:#3382af;
}

.frame-navigation>li a>.arrow{
	display:inline-block;
	width:14px!important;
	height:14px;
	line-height:14px;
	text-shadow:none;
	font-size:18px;
	position:absolute;
	right:11px;
	top:11px;
	padding:0;
	color:#666;
}
.frame-navigation>li a:hover>.arrow,.frame-navigation>li.active>a>.arrow,.frame-navigation>li.open>a>.arrow{ color:#1963aa; }

.frame-navigation>li.separator{
	height:3px;
	background-color:transparent;
	position:static;
	margin:1px 0;
	-webkit-box-shadow:none;
	box-shadow:none;
}

.frame-navigation>li.disabled>a{ color:#999; }
.frame-navigation>li.disabled>a:hover,.frame-navigation>li.disabled>a:focus {
    color:#999;
	text-decoration:none;
	cursor:not-allowed;
	background-color:transparent;
}

.frame-navigation .open>a,.frame-navigation .open>a:hover,.frame-navigation .open>a:focus{
	background-color:#fafafa;
	border-color:#428bca;
}

.frame-navigation .frame-navigation-divider{height:1px;margin:9px 0;overflow:hidden;background-color:#e5e5e5;}

.frame-navigation>li>a>img{max-width:none;}

.frame-navigation>li.open>a{
	background-color:#fafafa;
	color:#1963aa;
}
.frame-navigation>li.active{
	background-color:#fff
}
.frame-navigation>li.active>a,.frame-navigation>li.active>a:hover,
.frame-navigation>li.active>a:focus,.frame-navigation>li.active>a:active{
	background-color:#fff;
	color:#2b7dbc;
	font-weight:bold;
	font-size:13px;
}
.frame-navigation>li.active>a>[class*="icon-"]{ font-weight:normal; }
.frame-navigation>li.active>a:hover:before{ display:none; }
.frame-navigation>li.active:after {
    display:inline-block;
	content:"";
	position:absolute;
	right:-2px;
	top:-1px;
	bottom:0;
	z-index:1;
	border:2px solid #2b7dbc;
	border-width:0 2px 0 0;
}
.frame-navigation>li.open{ border-bottom-color:#e5e5e5; }

.frame-navigation>li.open .submenu{ display:block; }
.frame-navigation>li .submenu{
	display:none;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	background-color:#fff;
	border-top:1px solid #e5e5e5;
}
.frame-navigation>li .submenu>li{ margin-left:0; position:relative; }
.frame-navigation>li .submenu>li>a{
	display:block;
	position:relative;
	color:#616161;
	padding:7px 0 9px 37px;
	margin:0;
	border-top:1px dotted #e4e4e4;
}
.frame-navigation>li .submenu>li>a:focus{ text-decoration:none; }
.frame-navigation>li .submenu>li>a:hover{ text-decoration:none; color:#4b88b7; }
.frame-navigation>li .submenu>li.active>a{ color:#2b7dbc; }
.frame-navigation>li .submenu>li a>[class*="icon-"]:first-child{
	display:none;
	font-size:12px;
	font-weight:normal;
	width:18px;
	height:auto;
	line-height:12px;
	text-align:center;
	position:absolute;
	left:10px;
	top:11px;
	z-index:1;
	background-color:#FFF;
}
.frame-navigation>li .submenu>li.active>a>[class*="icon-"]:first-child,
.frame-navigation>li .submenu>li:hover>a>[class*="icon-"]:first-child{ display:inline-block; }
.frame-navigation>li .submenu>li.active>a>[class*="icon-"]:first-child{ color:#c86139; }
.frame-navigation>li>.submenu>li:before{
	content:"";
	display:inline-block;
	position:absolute;
	width:7px;
	left:20px;
	top:17px;
	border-top:1px dotted #9dbdd6;
}
.frame-navigation>li>.submenu>li:first-child>a{
	border-top:1px solid #fafafa;
}
.frame-navigation>li>.submenu:before{
	content:"";
	display:block;
	position:absolute;
	z-index:1;
	left:18px;
	top:0;
	bottom:0;
	border:1px dotted #9dbdd6;
	border-width:0 0 0 1px;
}
.frame-navigation>li.active>.submenu>li:before{border-top-color:#8eb3d0;}
.frame-navigation>li.active>.submenu:before{border-left-color:#8eb3d0;}
.frame-navigation li .submenu{overflow:hidden;}

.frame-navigation li.active>a:after{
	display:block;
	content:"";
	position:absolute!important;
	right:0;
	top:4px;
	border:8px solid transparent;
	border-width:14px 10px;
	border-right-color:#2b7dbc;
}
.frame-navigation li.open>a:after{ display:none; }
.frame-navigation li.active.open>.submenu>li.active.open>a.dropdown-toggle:after{ display:none; }
.frame-navigation li.active>.submenu>li.active>a:after{ display:none; }
.frame-navigation li.active.open>.submenu>li.active>a:after{ display:block; }
.frame-navigation li.active.no-active-child>a:after{ display:inline-block!important; }

.frame-navigation a .frame-badge,.frame-navigation a .frame-label{
	font-size:12px;
	padding-left:6px;
	padding-right:6px;
	position:absolute;
	top:9px;
	right:11px;
	opacity:.88
}

.frame-navigation a .frame-badge [class*="icon-"],
.frame-navigation a .frame-label [class*="icon-"]{
	vertical-align:middle;
	margin:0;
}
.frame-navigation a.dropdown-toggle .frame-badge,
.frame-navigation a.dropdown-toggle .frame-label{
	right:28px;
}
.frame-navigation a:hover .frame-badge,
.frame-navigation a:hover .frame-label{
	opacity:1;
}
.frame-navigation .submenu .submenu a .frame-badge,
.frame-navigation .submenu .submenu a .frame-label{
	top:6px;
}

/* 当SideBar折叠后导航栏样式 */
.min-sidebar .frame-navigation a .frame-badge,
.min-sidebar .frame-navigation a .frame-label {
	position:relative;
	top:-1px;
	right:auto;
	left:4px;
}

.min-sidebar .frame-navigation .submenu .submenu a .frame-badge,
.min-sidebar .frame-navigation .submenu .submenu a .frame-label {
	top:0;
}

.min-sidebar .frame-navigation>li>a { position:relative; }
.min-sidebar .frame-navigation>li>a>.menu-text{
	display:none;
	position:absolute;
	left:42px;
	top:-2px;
	width:174px;
	height:40px;
	line-height:38px;
	background-color:#f5f5f5;
	z-index:121;
	-webkit-box-shadow:2px 1px 2px 0 rgba(0,0,0,0.2);
	box-shadow:2px 1px 2px 0 rgba(0,0,0,0.2);
	border:1px solid #ccc;
	padding-left:12px;
}
.min-sidebar .frame-navigation>li>a.dropdown-toggle>.menu-text{
	-webkit-box-shadow:none;
	box-shadow:none;
	border-left:0;
	top:-1px;
	left:43px;
	width:174px;
}
.min-sidebar .frame-navigation>li>a .arrow { display:none; }
.min-sidebar .frame-navigation>li>a:hover:before { width:2px; }
.min-sidebar .frame-navigation>li:hover>a { color:#1963aa; }
.min-sidebar .frame-navigation>li:hover>a>.menu-text { display:block; }
.min-sidebar .frame-navigation>li.active>a>.menu-text { border-left-color:#1963aa; }
.min-sidebar .frame-navigation>li.open>a { background-color:#fafafa; color:#585858; }
.min-sidebar .frame-navigation>li.open.active>a { background-color:#fff; }
.min-sidebar .frame-navigation>li.open:hover>a { color:#1963aa; }
.min-sidebar .frame-navigation>li.active>a { color:#2b7dbc; }
.min-sidebar .frame-navigation>li.active>a:after{ border-width:10px 6px; top:8px; }
.min-sidebar .frame-navigation>li.active.open>a:after{display:block;}
.min-sidebar .frame-navigation>li.active.open li.active>a:after{display:none;}

.min-sidebar .frame-navigation>li>.submenu{
	background:#fff;
	position:absolute;
	z-index:120;
	left:42px;
	top:-2px;
	width:174px;
	border:1px solid #ccc;
	-webkit-box-shadow:2px 1px 2px 0 rgba(0,0,0,0.2);
	box-shadow:2px 1px 2px 0 rgba(0,0,0,0.2);
	padding-top:40px;
	padding-bottom:2px;
	display:none!important;
}
.min-sidebar .frame-navigation>li>.submenu:before { display:none; }
.min-sidebar .frame-navigation>li>.submenu li:before { display:none; }
.min-sidebar .frame-navigation>li>.submenu li>a { margin-left:0; padding-left:24px; }
.min-sidebar .frame-navigation>li>.submenu li>a>[class*="icon-"]:first-child { left:4px; }
.min-sidebar .frame-navigation>li:hover>.submenu { display:block!important; }
.min-sidebar .frame-navigation>li.active>.submenu { border-left-color:#2b7dbc; }
.min-sidebar .frame-navigation>li>.submenu li>.submenu>li>a { margin-left:0; padding-left:30px; }
.min-sidebar .frame-navigation>li>.submenu li>.submenu>li>.submenu>li>a { margin-left:0; padding-left:45px; }
.min-sidebar .frame-navigation>li>.submenu li.active>a:after { display:none;}
.min-sidebar .nav-list li.active.open>.submenu>li.active>a:after { display:none; }