<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="Frame" />
    <container>
      <!-- 
      下面两个Unity对象都指向同一个实例，只是第一个不能通过名称获取，第二个必须通过名称获取 
      如果有多个构造函数Unity默认不是选择空的构造函数，所以必须指定<constructor/>
      -->
      <!--<register type="Frame.Test.Lib.ContainerOneTest">
        <lifetime type="singleton" />
        <constructor />
      </register>

      <register name="DefaultTest" type="Frame.Test.Lib.ContainerTwoTest">
        <lifetime type="singleton" />
        <constructor />
      </register>

      <register name="AuthorTest" type="Frame.Test.Lib.IContanerTest" mapTo="Frame.Test.Lib.ContainerTwoTest">
        <lifetime type="singleton" />
        <constructor />
      </register>-->

      <register name="Default" type="Frame.Data.DataBase" mapTo="Frame.Data.SqlGe.SqlGeClient">
        <lifetime type="singleton" />
        <constructor>
          <param name="connectionString" value="DefaultDB" />
        </constructor>
      </register>

      <!-- 添加一个非默认数据库链接的Dao，参数name指数据库连接串的名称-->
      <register name="Another" type="Frame.Data.DataBase" mapTo="Frame.Data.SqliteGe.SqliteGeClient">
        <lifetime type="singleton" />
        <constructor>
          <param name="connectionString" value="AnotherDB" />
        </constructor>
      </register>
    </container>
  </unity>
</configuration>